@model List<string>

@section Scripts{
    <script type="text/javascript" src="~/js/DetailsInterns.js"></script>
}

@{
    ViewData["Title"] = "List of repositories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Public repositories</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Repository name</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count(); i++)
        {
            var repo = Model.ElementAt(i);
            var repositoryArray = repo.Split("/");
            var repositoryName = repositoryArray[repositoryArray.Length-1];

            <tr>
                <td><a href="@repo">@repositoryName</a></td>
            </tr>
        }
    </tbody>
</table>